<div>
  <h1>Empleado</h1>
  <p>Nombre del empleado: {{nombre}}</p>
  @if (edad > 18) {
    <p>Es mayor de edad.</p>
  } @else {
    <p>Es menor de edad.</p>
  }
  <h1>Listado de artículos</h1>
  <table>
    @for (articulo of articulos; track articulo.codigo) {
      <tr>
        <td>{{articulo.codigo}}</td>
        <td>{{articulo.descripcion}}</td>
        <td>{{articulo.precio}}</td>
      </tr>
    }
  </table>
  <h1>Número aleatorio entre 1 y 3</h1>
  @switch (generarNumero()) {
    @case (1) {
      <p>Uno</p>
    }
    @case (2) {
      <p>Dos</p>
    }
    @case (3) {
      <p>Tres</p>
    }
  }
</div>

<div style="margin-bottom: 10px;">
  <p>{{contador}}</p>
  <button (click)="incrementar()">Sumar 1</button>
  <button (click)="decrementar()">Sumar 2</button>
</div>

<div>
  <input type="button" (click)="fijarNombre1()" value="Juan">
  <input type="button" (click)="fijarNombre2()" value="Ana">
  <input type="text" [value] = "nombrePersona">
</div>

