.clase1 {
  color:red;
  background-color:blue;
}

.clase2 {
  font-size:20px;
  font-family: 'Courier New', Courier, monospace;
}

.color1 {
  color: white;
  background-color: blue;
}

.color2 {
  color: white;
  background-color: green;
}

.clase3 {
  color:red;
  background-color:blue;
}

.clase4 {
  font-size:20px;
  font-family: 'Courier New', Courier, monospace;
}
